doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        link(rel="stylesheet" href="/css/home_style.css")
        title {tupleSpaceName}
        script(src="js/jquery.js")
    body
        script(src="js/linda-client.js")
        h1 #{tupleSpaceName} / #{JSON.stringify(watchTuple)}
        h2 write
        p
            button(id="write-button") #{JSON.stringify(watchTuple)}
        p %curl -d 'tuple=#{JSON.stringify(watchTuple)}' #{httpHost}
        h2 watch #{JSON.stringify(watchTuple)}
        div(id="main" data-watch=JSON.stringify(watchTuple) data-tsname=tupleSpaceName)
            ul(id='content')
        script(src="js/tupleSpace.js")